{% extends "SWDocManagerBundle:Add:layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<div class="grid" id="header-document">
    <div class="row cells3">
        <div class="cell padding20 bg-cyan">
            <div class="flex-grid">
                <div class="row cells2">
                    <div class="cell colspan2"><span class="number number-blue">1</span></div><div class="cell colspan4"><h3>Kategorien</h3></div>                    
                </div>
            </div>
        </div>

        <div class="cell padding20 bg-cyan">
            <div class="flex-grid">
                <div class="row cells2">
                    <div class="cell colspan2"><span class="number number-blue">2</span></div><div class="cell colspan4"><h3>Dokument</h3></div>                    
                </div>
            </div>
        </div>

        <div class="cell padding20 bg-cyan">
            <div class="flex-grid">
                <div class="row cells2">
                    <div class="cell colspan2"><span class="number number-blue">3</span></div><div class="cell colspan4"><h3>Veröffentlichen</h3></div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<div id="upload-block" class="grid">

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    
        {{ include("SWDocManagerBundle:Add:categorylines.html.twig") }}

        <table class="table">
            <thead>
                <tr>
                    <th class="sortable-column sort-desc">Name</th>
                    <th class="sortable-column sort-desc">Datum</th>
                    <th class="sortable-column">Bezeichnung</th>
                    <th class="sortable-column">Von</th>
                </tr>
            </thead>
            {% for document in form.documents %}
                <tr>
                    <td><span class="mif-file-pdf"></span>{{ form_widget(document.name, {'attr':{'class':'noborder','readonly':'readonly'} }) }}</td>
                    <td>{{ form_widget(document.date, {'attr':{'class':'noborder','readonly':'readonly'} }) }}</td>
                    <td>{{ form_widget(document.code, {'attr':{'class':'noborder','readonly':'readonly'} }) }}</td>
                    <td>{{ form_widget(document.creator.lastname, {'attr':{'class':'noborder','readonly':'readonly'} }) }}</td>
                    <td><span class="mif-pencil"></span></td>
                    <td><span class="mif-search"></span></td>
                </tr>
            {% endfor %}         
        </table>

        <div class="row cells12">
            <div class="cell offset8 colspan4">
                {{ form_widget(form.Veröffentlichen, { 'attr':{'class':'button primary full-size'} }) }}
            </div>
        </div>       
        
        <div class="hidden">{{ form_rest(form) }}</div>
    {{ form_end(form) }}
</div>    
{% endblock %}